@model UpdateTestimonialDto
@{
    ViewData["Title"] = "UpdateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Müşteri Yorum İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni Müşteri Yorumu Güncelleme Sayfası</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <input type="hidden" asp-for="TestimonialID" />
                                <label for="Name">Müşteri Adını Giriniz</label>
                                <input type="text" asp-for="Name" class="form-control" id="Name">
                            </div>
                            <div class="form-group">
                                <label for="Title">Müşteri Ünvanını Giriniz</label>
                                <input type="text" asp-for="Title" class="form-control" id="Title">
                            </div>
                            <div class="form-group">
                                <label for="ImageUrl">Müşteri Resim Dosya Yolunu Giriniz</label>
                                <input type="text" asp-for="ImageUrl" class="form-control" id="ImageUrl">
                            </div>
                            <div class="form-group">
                                <label for="Comment">Müşteri Yorumunu Giriniz</label>
                                <textarea rows="5" asp-for="Comment" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary">Referans Bilgilerini Güncelle</button>
                            <a href="/Testimonial/Index/" class="btn btn-danger">Vazgeç</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>