@* UI LAYOUT *@
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

@await Component.InvokeAsync("_UILayoutHeadPartialComponent")

<body>
    <div class="hero_area">
        @await Component.InvokeAsync("_UILayoutNavbarPartialComponent")

    @RenderBody() 

    @await Component.InvokeAsync("_UILayoutFooterPartialComponent")

    @await Component.InvokeAsync("_UILayoutScriptPartialComponent")

</body>
</html>