@model CreateBookingDto
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

@await Component.InvokeAsync("_UILayoutHeadPartialComponent")

<body class="sub_page">

    @await Component.InvokeAsync("_UILayoutNavbarPartialComponent")
    </div>

    <section class="book_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Rezervasyon Oluşturun
                </h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form_container">
                        <form method="post">
                            <div>
                                <input type="text" class="form-control" placeholder="Adınız Soyadınız" asp-for="Name" />
                                <span asp-validation-for="Name" class="text-danger text-sm-start"></span>
                            </div>
                            <div>
                                <input type="text" class="form-control" placeholder="Telefon Numaranız" asp-for="Phone"/>
                                <span asp-validation-for="Phone" class="text-danger text-sm-start"></span>
                            </div>
                            <div>
                                <input type="email" class="form-control" placeholder="Mail Adresiniz"  asp-for="Mail"/>
                                <span asp-validation-for="Mail" class="text-danger text-sm-start"></span>
                            </div>
                            <div>
                                <select class="form-control nice-select wide" asp-for="PersonCount">
                                    <option value="" disabled selected>
                                        Kaç Kişisiniz?
                                    </option>
                                    <option value="1">
                                        1
                                    </option>
                                    <option value="2">
                                        2
                                    </option>
                                    <option value="3">
                                        3
                                    </option>
                                    <option value="4">
                                        4
                                    </option>
                                    <option value="5">
                                        5
                                    </option>
                                    <option value="6">
                                        6++
                                    </option>
                                </select>
                                <span asp-validation-for="PersonCount" class="text-danger text-sm-start"></span>
                            </div>                          
                            <div>
                                <input type="date" class="form-control" asp-for="Date">
                                <span asp-validation-for="Date" class="text-danger text-sm-start"></span>
                            </div>
                            <div>
                                <textarea class="form-control" placeholder="Varsa eklemek istedikleriniz..." asp-for="Description" rows="5"></textarea>
                                <span asp-validation-for="Description" class="text-danger text-sm-start"></span>
                            </div>
                            <div class="btn_box">
                                <button>
                                    Yerinizi Ayırtın
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="map_container ">
                        <iframe src="@ViewBag.location" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var successMessage = '@Html.Raw(TempData["SuccessMessage"])';
            if (successMessage && successMessage.trim() !== "") {
                Swal.fire({
                    title: 'Teşekkürler!',
                    text: successMessage,
                    icon: 'success',
                    confirmButtonText: 'Tamam'
                });
            }
        });
    </script>

    @await Component.InvokeAsync("_UILayoutFooterPartialComponent")

    @await Component.InvokeAsync("_UILayoutScriptPartialComponent")

</body>
</html>